/* Estilos Generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal; }

body {
  background: linear-gradient(to bottom, #f2f5f6 0%, #e3eaed 100%, #c8d7dc 100%, #e3eaed 100%); }
  body h3 {
    text-align: center;
    font-weight: normal;
    font-size: 25px;
    letter-spacing: 2px;
    background-color: cadetblue;
    color: black; }
  body p {
    font-style: italic;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.2; }
  body header {
    background: linear-gradient(to bottom, #f2f5f6 0%, #c8d7dc 100%, #e3eaed 100%); }
    body header .titFrizka {
      font-weight: normal;
      font-family: 'Italianno', cursive;
      font-size: 80px;
      letter-spacing: 13px;
      padding: 10px; }
    body header nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: flex-end;
      margin: 20px;
      list-style-type: square;
      list-style-position: outside;
      font-style: italic;
      font-size: 20px;
      font-family: 'Times New Roman', Times, serif; }
      body header nav ul a {
        color: black;
        text-decoration: none;
        padding: 0.7rem;
        display: block; }
      body header nav ul li a:hover {
        background-color: cadetblue;
        color: black;
        font-weight: bold; }
  body footer {
    background: linear-gradient(to bottom, #c8d7dc 0%, #f2f5f6 61%, #f2f5f6 61%, #f2f5f6 100%); }
    body footer .textFooter {
      text-align: center;
      font-size: 15px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
    body footer nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: flex-end;
      margin: 20px;
      list-style-type: square;
      list-style-position: outside;
      font-style: italic;
      font-size: 20px;
      font-family: 'Times New Roman', Times, serif; }
      body footer nav ul a {
        color: black;
        text-decoration: none;
        padding: 0.7rem;
        display: block; }
      body footer nav ul li a:hover {
        background-color: cadetblue;
        color: black;
        font-weight: bold; }

/* Estilos index */
body main section .titDestacados {
  text-align: center;
  font-weight: normal;
  font-family: 'Italianno', cursive;
  font-size: 55px;
  letter-spacing: 13px;
  margin: 50px;
  background-color: #4ca8ac; }

body main section .imgDestacada {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 6rem; }
  body main section .imgDestacada .bordeRedondeado {
    border-radius: 25%; }
  body main section .imgDestacada .bordeRedondeado:hover {
    transform: scale(1.3, 1.3);
    transition: all 1s ease;
    border: black 1px solid; }

/* Estilos Ayuda */
body main section .titAyuda {
  text-align: center;
  font-weight: normal;
  font-family: 'Italianno', cursive;
  font-size: 55px;
  letter-spacing: 13px;
  margin: 50px;
  background-color: #4ca8ac; }

/* Estilos Contacto */
body main section .titContacto {
  text-align: center;
  font-weight: normal;
  font-family: 'Italianno', cursive;
  font-size: 55px;
  letter-spacing: 13px;
  margin: 50px;
  background-color: #4ca8ac; }
  body main section .titContacto section h3 {
    text-align: center;
    font-weight: normal;
    font-size: 25px;
    letter-spacing: 2px;
    background-color: cadetblue;
    color: black; }
  body main section .titContacto .colorFor {
    background-color: cadetblue;
    color: black;
    font-weight: normal;
    font-size: 25px;
    letter-spacing: 2px; }

/* Estilos Nosotros */
body main section .titSomos {
  text-align: center;
  font-weight: normal;
  font-family: 'Italianno', cursive;
  font-size: 55px;
  letter-spacing: 13px;
  margin: 50px;
  background-color: #4ca8ac; }

body main section .flexNos {
  display: flex;
  flex-direction: column; }
  body main section .flexNos .nosP {
    padding: 100px; }

/* Estilos Productos */
body main .titProductos {
  text-align: center;
  font-weight: normal;
  font-family: 'Italianno', cursive;
  font-size: 55px;
  letter-spacing: 13px;
  margin: 50px;
  background-color: #4ca8ac; }

/* Media */
@media (max-width: 768px) {
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start; }
  .titFrizka {
    font-weight: normal;
    font-family: 'Italianno', cursive;
    font-size: 80px;
    letter-spacing: 13px;
    padding: 10px;
    text-align: center; }
  .bordeRedondeado {
    border-radius: 25%;
    width: 250px; }
  .bordeRedondeado:hover {
    transform: scale(1.2, 1.2);
    transition: all 1s ease;
    border: black 1px solid; } }
