/* Estilos Generales */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: normal;
}
body{ 
    background: linear-gradient(to bottom, #f2f5f6 0%, #e3eaed 100%, #c8d7dc 100%, #e3eaed 100%);
}
header{
    background: linear-gradient(to bottom, #f2f5f6 0%, #c8d7dc 100%, #e3eaed 100%);
}
footer{
    background: linear-gradient(to bottom,  rgba(200,215,220,1) 0%,rgba(242,245,246,1) 61%,rgba(242,245,246,1) 61%,rgba(242,245,246,1) 100%);
}
p{
    font-style: italic;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.2;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}
nav ul a{
    color: black;
    text-decoration: none;
    padding: 0.7rem;
    display: block;
}
nav li a:hover{
    background-color: cadetblue;
    color: black;
    font-weight: bold;
}
ul{
    margin: 20px;
    list-style-type: square;
    list-style-position: outside;
    font-style: italic;
    font-size:20px;
    font-family: 'Times New Roman', Times, serif;
}
.textFooter{
    text-align: center;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Estilos index */

.titFrizka{
    font-weight: normal;
    font-family: 'Italianno', cursive;
    font-size: 80px;
    letter-spacing: 13px;
    padding: 10px;
}
.titDestacados{
    text-align: center;
    font-weight: normal;
    font-family: 'Italianno', cursive;
    font-size: 55px;
    letter-spacing: 13px;
    margin: 50px;
    background-color: rgb(76, 168, 172);
}
.imgDestacada{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 6rem;
}
/* .caja{
    height: 500px;
    width: 500px;
    padding: 5px;
    border-width: 10px;
    border-style: ridge;
    border-color: rgb(135, 192, 194);
    margin: 50px;
} */
.bordeRedondeado{
    border-radius: 25%;
}
.bordeRedondeado:hover{
    transform: scale(1.3, 1.3);
    transition: all 1s ease;
    border: black 1px solid;
}
/* Estilos Ayuda */

.titAyuda{
    text-align: center;
    font-weight: normal;
    font-family: 'Italianno', cursive;
    font-size: 55px;
    letter-spacing: 13px;
    margin: 50px;
    background-color: rgb(76, 168, 172);
}
.flexAyuda{
    display: flex;
    flex-direction: column;
}
.ayudaP{
    padding: 50px;
}
/* Estilos Contacto */

.titContacto{
    text-align: center;
    font-weight: normal;
    font-family: 'Italianno', cursive;
    font-size: 55px;
    letter-spacing: 13px;
    margin: 50px;
    background-color: rgb(76, 168, 172);
}
h3{
    text-align: center;
    font-weight: normal;
    font-size: 25px;
    letter-spacing: 2px; 
    background-color: cadetblue;
    color: black;
}
.colorFor{
    background-color: cadetblue;
    color: black;
    font-weight: normal;
    font-size: 25px;
    letter-spacing: 2px
}

/* Estilos Nosotros */

.titSomos{
    text-align: center;
    font-weight: normal;
    font-family: 'Italianno', cursive;
    font-size: 55px;
    letter-spacing: 13px;
    margin: 50px;
    background-color: rgb(76, 168, 172);
}
.flexNos{
    display: flex;
    flex-direction: column;
}
.nosP{
    padding: 100px;
}

/* Estilos Productos */

.titProductos{
    text-align: center;
    font-weight: normal;
    font-family: 'Italianno', cursive;
    font-size: 55px;
    letter-spacing: 13px;
    margin: 50px;
    background-color: rgb(76, 168, 172);
}

/* Media */

@media (max-width: 768px){
    nav ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-start;
    }
    .titFrizka{
        font-weight: normal;
        font-family: 'Italianno', cursive;
        font-size: 80px;
        letter-spacing: 13px;
        padding: 10px;
        text-align: center;
    }
    .bordeRedondeado{
        border-radius: 25%;
        width: 250px;
    }
    .bordeRedondeado:hover{
        transform: scale(1.2, 1.2);
        transition: all 1s ease;
        border: black 1px solid;
    }
}
   
   
   
  