/* Estilos Generales */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Finlandica', sans-serif;
    font-style: normal;
}

/* Body */ 

body{ 
    background: whitesmoke;
    p{
        font-family: 'Cinzel', serif;
        font-size: 20px;
    }
    h3{
        text-align: center;
        font-weight: normal;
        font-size: 25px;
        letter-spacing: 2px; 
        background-color: #DAD2BC;
        color: black;
    }
    header{
        .cuota{
            background-color: black;
            color: white;
            text-align: center;
            font-size: 18px;
        }
        background: #eaebee;
        .titFrizka{
            font-family: 'Cinzel', serif;
            font-size: 45px;
            letter-spacing: 13px;
            padding: 15px;
            margin: 50;
            text-align: center;
        } 
        nav{
            ul{
                padding: 5px;
                letter-spacing: 2px;
                font-size: 19px;
                li{
                    a{
                        color: black;
                        text-decoration: none;
                    }
                    a:hover{
                        background-color: #868C98;
                        color: black;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    /* Footer */
    footer{
        background: #C6CAD2;
        .foChiqui{
            font-size: 16px;
        }
        .frizkaLogo{
            width: 200px;
        }
        h6{
            margin-top: 5px;
            background-color: #24272E;
            color: white;
            text-align: center;
        }
        h5{
            margin-top: 5px;
            background-color: #24272E;
            color: white;
            text-align: center; 
        }
        .textFooter{
            font-family: 'Finlandica', sans-serif;
            background: #C6CAD2;
            text-align: center;
            font-size: 13px;
            margin: auto;
        }
        nav{
            ul{
                font-size: 18px;
                li{
                    a{
                        color: black;
                        text-decoration: none;
                    }
                    a:hover{
                        background-color: #868C98;
                        color: #DAD2BC;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

/* Estilos index */

body{
    main{
        .imgCentrada{
            display: flex;
            justify-content: center;
        }
        .imagenesIndex{
            
            .titDestacados{
                text-align: center;
                font-weight: normal;
                font-family: 'Cinzel', serif;
                font-size: 35px;
                letter-spacing: 8px;
                margin: 30px;
                background-color: #24272E;
                color: white;
            }
            .imgDestacada{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                margin: 6rem;
            }
                .bordeRedondeado{
                    border-radius: 15%;
                    width: 250px;
                    margin: 50px;
                }
                .bordeRedondeado:hover{
                    transform: scale(1.6,1.6);
                    transition: all 1s ease;
                    border: black 1px solid;
                }
            }
             .tamanio{
                padding: 25px;
            } 
            .mona{
                background-image: url('../images/friska\ png\ 2\ \(1\)\ \(1\).png');
                background-position: -13px 20px;
            }
        }
    }

/* Estilos Ayuda */

body{
    main{
        section{
            .respuestas{
               font-size: 20px;
               text-align: center; 
            }              
            .titAyuda{
                text-align: center;
                font-weight: normal;
                font-family: 'Cinzel', serif;
                font-size: 35px;
                letter-spacing: 8px;
                margin: 30px;
                background-color: #24272E;
                color: white;
            }
        }
    }
}

/* Estilos Contacto */

body{
    main{
        section{
            .titContacto{
                text-align: center;
                font-weight: normal;
                font-family: 'Cinzel', serif;
                font-size: 35px;
                letter-spacing: 8px;
                margin: 30px;
                background-color: #24272E;
                color: white;
                section{
                    h3{
                        text-align: center;
                        font-weight: normal;
                        font-size: 25px;
                        letter-spacing: 2px; 
                        background-color: #24272E;
                        color: white;
                    }
                }
                .colorFor{
                    background-color: #24272E;
                    color: white;
                    font-weight: normal;
                    font-size: 25px;
                    letter-spacing: 2px
                }
            }
        }
    }
}

/* Estilos Nosotros */

.bodyNosotros{
        background-image: url('../images/Bags.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    main{
        section{ 
            .titSomos{
                text-align: center;
                font-weight: normal;
                font-family: 'Cinzel', serif;
                font-size: 35px;
                letter-spacing: 8px;
                margin: 30px;
                background-color: #24272E;
                color: white;
            }
            .flexNos{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                .nosP{
                    padding: 15px;
                    color: black;
                }
            }
            .monita{
                width: 450px;
            }
        }
    }
}

/* Estilos Productos */

body{
    main{
        .titProductos{
            text-align: center;
            font-weight: normal;
            font-family: 'Cinzel', serif;
            font-size: 35px;
            letter-spacing: 8px;
            margin: 30px;
            background-color: #24272E;
            color: white;
        }
    }
}

/* Media */

@media (max-width: 768px){
    body{
        h3{
            text-align: center;
            font-weight: normal;
            font-size: 15px;
            letter-spacing: 2px; 
            background-color: #DAD2BC;
            color: black;
        }
        footer{
            .textFooter{
                font-size: 10px;
            }
            .frizkaLogo{
                width: 100px;
            }
            .foChiqui{
                font-size: 10px;
            }
            .foPeque{
                font-size: 10px;
            }
            h6{
                background-color: #24272E;
                color: white;
                text-align: center;
                font-size: 11px;
            }
            h5{
                background-color: #24272E;
                color: white;
                text-align: center;
                font-size: 11px; 
            }
        }
        main{
            .mona{
                background-image: url('../images/favicon.png');
            }
            section{
                .titAyuda{
                    text-align: center;
                    font-weight: normal;
                    font-family: 'Cinzel', serif;
                    font-size: 25px;
                    letter-spacing: 6px;
                    margin: 30px;
                    background-color: #24272E;
                    color: white;
                }
                .titContacto{
                    text-align: center;
                    font-weight: normal;
                    font-family: 'Cinzel', serif;
                    font-size: 25px;
                    letter-spacing: 6px;
                    margin: 30px;
                    background-color: #24272E;
                    color: white;
                }
                .titSomos{
                    text-align: center;
                    font-weight: normal;
                    font-family: 'Cinzel', serif;
                    font-size: 25px;
                    letter-spacing: 6px;
                    margin: 30px;
                    background-color: #24272E;
                    color: white;
                }
                .titProductos{
                    text-align: center;
                    font-weight: normal;
                    font-family: 'Cinzel', serif;
                    font-size: 25px;
                    letter-spacing: 6px;
                    margin: 30px;
                    background-color: #24272E;
                    color: white;
                }
                .fotoHorarios{
                    width: 280px;
                }
                .titAyuda{
                    text-align: center;
                    font-weight: normal;
                    font-family: 'Cinzel', serif;
                    font-size: 25px;
                    letter-spacing: 8px;
                    margin: 30px;
                    background-color: #24272E;
                    color: white;
                }
            }
            .imagenesIndex{
                .titDestacados{
                    text-align: center;
                    font-weight: normal;
                    font-family: 'Cinzel', serif;
                    font-size: 25px;
                    letter-spacing: 6px;
                    margin: 30px;
                    background-color: #24272E;
                    color: white;
                }
                .imgDestacada{
                    .bordeRedondeado{
                        border-radius: 25%;
                        width: 200px;
                        margin: 20px;
                    }
                    .bordeRedondeado:hover{
                        transform: scale(1.2, 1.2);
                        transition: all 1s ease;
                        border: black 1px solid;
                    }
                }
            }
        .tamanio{
            padding: 2px;
        }
        }
        header{
            .cuota{
                font-size: 13px;
            }
            .titFrizka{
                font-family: 'Cinzel', serif;
                font-size: 40px;
                letter-spacing: 13px;
                padding: 10px;
                text-align: center;
            }
        }
    }
    .bodyNosotros{
        main{
            section{
                .titSomos{
                    text-align: center;
                    font-weight: normal;
                    font-family: 'Cinzel', serif;
                    font-size: 25px;
                    letter-spacing: 6px;
                    margin: 30px;
                    background-color: #24272E;
                    color: white;
                }
                .monita{
                    width: 200px;

                }
            }
        }
    }
}
@media (max-width: 425px){
    .bodyNosotros{
        background-image: url('../images/Bagsss.png');
        background-repeat: repeat;
        background-size: auto;
    }
}